<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.moxd.team9.shoppingMap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PlanActivity"
            android:label="@string/title_forum"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/user_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/user_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StoreProfileActivity"
            android:label="@string/title_activity_store_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StoreListActivity"
            android:label="@string/title_activity_store_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".UserProfileEditActivity"
            android:label="Edit Profile"
            android:theme="@style/AppTheme" />
</application>

</manifest>